<footer class="bg-natural-95">
  <div
    class="d-flex flex-column flex-md-row justify-content-center container py-5 border-top fs-14"
  >
    <div class="w-md-50 text-center">
      <a class="py-2 px-4" href="#">服務方案</a>
      <a class="py-2 px-4" href="#">關於職旅</a>
      <a class="py-2 px-4" href="#">聯絡我們</a>
      <a class="py-2 px-4" href="privacy.html">隱私權政策</a>
      <a class="py-2 px-4" href="terms.html">用戶條款</a>
    </div>
    <div class="w-md-50">
      <p class="text-md-end text-center fs-14 text-natural-50 align-center">
        Copyright © 2025 職旅 workway. All rights reserved.
      </p>
    </div>
  </div>
</footer>
