.bg-gray{
    background-color: #F0F3F5;
}
.userCard{
    padding: 48px;
    border-radius: 24px;
    background-color: #FCFCFD;
}
.reserveText-blue{
    color: #4A69E8;
}
.reserveText-gry{
    color: #667F99;
    font-size: 18px;
}
.sortWidth{
    width: 300px;
}