<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
p m g
1=4
2=8
3=12
4=16
5=24
6=48
7=80

fz
h1 45
h2 32
h3 28
h4 24
h5 18



    <%- include('./layout/footer'); -%>




    <script type="module" src="../main.js"></script>
  </body>
</html>
